<main class="container pt-5">

  <article class="row">
    <div class="container">
      <section class="col-12 pb-4 jumbotron w-100">
        <h1>
          Star Wars
        </h1>

        <h4>Escolha seus filmes favoritos!</h4>
      </section>
    </div>
  </article>



  <article class="row">

    <div class="col-12 col-md-3 pb-3">

      <h4>Filtros</h4>

      <form [formGroup]="filtersForm" (submit)="filter()">

        <app-filters [parentForm]="filtersForm" [type]="'starwars'"></app-filters>

        <button class="btn btn-primary" type="submit">Filtrar</button>
      </form>

    </div>

    <div class="col-12 col-md-9">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">
            <a [routerLink]="['/home']">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Star Wars</li>
        </ol>
      </nav>

      <div *ngIf="films && films.length > 0">
        <section *ngFor="let film of films">
          <app-list-item [itemTitle]="film.title" [selectedItems]="selectedFilms" [itemDescription]="film.opening_crawl" [itemId]="film.episode_id"
            [itemUrl]="getStarWarsDetailLink(film.title)" [checkSelected]="checkSelectedFilm" [toggleSelected]="toggleSelectedFilm"
            [type]="'starWars'"></app-list-item>
        </section>
      </div>

      <div [hidden]="!noResultsMessage" class="pt-4">
        <div class="alert alert-info">
          Não há resultados! Tente novamente mais tarde ou altere seu filtro.
        </div>
      </div>
    </div>

  </article>

</main>